[submodule "fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "fprime-featherm4-freertos"]
	path = lib/fprime-featherm4-freertos
	url = https://github.com/fprime-community/fprime-featherm4-freertos.git
[submodule "lib/FreeRTOS-SAMD51"]
	path = lib/FreeRTOS-SAMD51
	url = https://github.com/BriscoeTech/Arduino-FreeRTOS-SAMD51.git
[submodule "lib/fprime-lora"]
	path = lib/fprime-lora
	url = https://github.com/mrninhvn/fprime-lora
